# General
*                               @Retail-Success/infrastructure

# Front-end Engineering
*.html                          @Retail-Success/luci-web
*.lock                          @Retail-Success/luci-web
*.js                            @Retail-Success/luci-web
*.jsx                           @Retail-Success/luci-web
*.ts                            @Retail-Success/luci-web
*.tsx                           @Retail-Success/luci-web
*.css                           @Retail-Success/luci-web
*.less                          @Retail-Success/luci-web
*.scss                          @Retail-Success/luci-web
*.sass                          @Retail-Success/luci-web
*.otf                           @Retail-Success/luci-web
*.eot                           @Retail-Success/luci-web
*.ttf                           @Retail-Success/luci-web
*.woff*                         @Retail-Success/luci-web
*.svg                           @Retail-Success/luci-web
*.jpg                           @Retail-Success/luci-web
*.jpeg                          @Retail-Success/luci-web
*.gif                           @Retail-Success/luci-web
*.png                           @Retail-Success/luci-web
*.ico                           @Retail-Success/luci-web
public/**                       @Retail-Success/luci-web
src/**                          @Retail-Success/luci-web
.storybook/**                   @Retail-Success/luci-web
.browserslistrc                 @Retail-Success/luci-web
**eslint**                      @Retail-Success/luci-web
**jest**                        @Retail-Success/luci-web
**prettier**                    @Retail-Success/luci-web
**stylelint**                   @Retail-Success/luci-web
**/src/assets/**                @Retail-Success/luci-web
**/src/src/**                   @Retail-Success/luci-web

# Back-end Engineering
# **.cs                           @Retail-Success/luci-api
# **.csproj                       @Retail-Success/luci-api
# **.sln                          @Retail-Success/luci-api
# data/**                         @Retail-Success/luci-api
# *.Library/                      @Retail-Success/luci-api
# *.Tests/                        @Retail-Success/luci-api
# *.WebAPI/                       @Retail-Success/luci-api
# *.UnitTests/                    @Retail-Success/luci-api

# DevOps
.github/                        @Retail-Success/infrastructure
deployments/                    @Retail-Success/infrastructure
.ci/                            @Retail-Success/infrastructure
Dockerfile                       @Retail-Success/infrastructure
docker-compose.yml              @Retail-Success/infrastructure
.nvmrc*                         @Retail-Success/infrastructure
