# General
*                               @GITHUB_ORGANIZATION/devops-engineers

# Front-end Engineering
*.html                          @GITHUB_ORGANIZATION/front-end-engineers
*.lock                          @GITHUB_ORGANIZATION/front-end-engineers
*.js                            @GITHUB_ORGANIZATION/front-end-engineers
*.jsx                           @GITHUB_ORGANIZATION/front-end-engineers
*.ts                            @GITHUB_ORGANIZATION/front-end-engineers
*.tsx                           @GITHUB_ORGANIZATION/front-end-engineers
*.css                           @GITHUB_ORGANIZATION/front-end-engineers
*.less                          @GITHUB_ORGANIZATION/front-end-engineers
*.scss                          @GITHUB_ORGANIZATION/front-end-engineers
*.sass                          @GITHUB_ORGANIZATION/front-end-engineers
*.otf                           @GITHUB_ORGANIZATION/front-end-engineers
*.eot                           @GITHUB_ORGANIZATION/front-end-engineers
*.ttf                           @GITHUB_ORGANIZATION/front-end-engineers
*.woff*                         @GITHUB_ORGANIZATION/front-end-engineers
*.svg                           @GITHUB_ORGANIZATION/front-end-engineers
*.jpg                           @GITHUB_ORGANIZATION/front-end-engineers
*.jpeg                          @GITHUB_ORGANIZATION/front-end-engineers
*.gif                           @GITHUB_ORGANIZATION/front-end-engineers
*.png                           @GITHUB_ORGANIZATION/front-end-engineers
*.ico                           @GITHUB_ORGANIZATION/front-end-engineers
public/**                       @GITHUB_ORGANIZATION/front-end-engineers
src/**                          @GITHUB_ORGANIZATION/front-end-engineers
.storybook/**                   @GITHUB_ORGANIZATION/front-end-engineers
.browserslistrc                 @GITHUB_ORGANIZATION/front-end-engineers
**eslint**                      @GITHUB_ORGANIZATION/front-end-engineers
**jest**                        @GITHUB_ORGANIZATION/front-end-engineers
**prettier**                    @GITHUB_ORGANIZATION/front-end-engineers
**stylelint**                   @GITHUB_ORGANIZATION/front-end-engineers
**/src/assets/**                @GITHUB_ORGANIZATION/front-end-engineers
**/src/src/**                   @GITHUB_ORGANIZATION/front-end-engineers

# Back-end Engineering
# **.cs                           @GITHUB_ORGANIZATION/back-end-engineers
# **.csproj                       @GITHUB_ORGANIZATION/back-end-engineers
# **.sln                          @GITHUB_ORGANIZATION/back-end-engineers
# data/**                         @GITHUB_ORGANIZATION/back-end-engineers
# *.Library/                      @GITHUB_ORGANIZATION/back-end-engineers
# *.Tests/                        @GITHUB_ORGANIZATION/back-end-engineers
# *.WebAPI/                       @GITHUB_ORGANIZATION/back-end-engineers
# *.UnitTests/                    @GITHUB_ORGANIZATION/back-end-engineers

# DevOps
.github/                        @GITHUB_ORGANIZATION/devops-engineers
deployments/                    @GITHUB_ORGANIZATION/devops-engineers
*-Secrets.ps1                   @GITHUB_ORGANIZATION/devops-engineers
Dockerfile                      @GITHUB_ORGANIZATION/devops-engineers
docker-compose.yml              @GITHUB_ORGANIZATION/devops-engineers
.nvmrc*                         @GITHUB_ORGANIZATION/devops-engineers
