# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: ".github/"
    schedule:
      interval: "weekly"
      day: "thursday"
    labels:
      - "devops"
      - "dependencies"
    rebase-strategy: auto
    open-pull-requests-limit: 10
    commit-message:
      # Prefix all commit messages with 'github-actions'
      prefix: "github-actions"

  - package-ecosystem: "docker"
    directory: "/"
    ignore:
      - dependency-name: node
      - dependency-name: dotnet/sdk
    schedule:
      interval: "weekly"
      day: "thursday"
    labels:
      - "dependencies"
      - "devops"
      #   rebase-strategy: auto
    open-pull-requests-limit: 10
    commit-message:
      # Prefix all commit messages with 'docker'
      prefix: "docker(dependencies): "
    rebase-strategy: auto

  - package-ecosystem: "npm"
    # Look for `package(-lock).json` files in root directory
    directory: "/"
    schedule:
      interval: "weekly"
      day: "thursday"
    labels:
      - "front-end"
      - "dependencies"
    # Use increase strategy for better compatibility during migration
    versioning-strategy: increase
    rebase-strategy: auto
    commit-message:
      # Prefix all commit messages with 'npm'
      prefix: "npm(dependencies): "
    open-pull-requests-limit: 10
    # Assign reviewers for dependency updates
    # reviewers:
    #   - "Retail-Success/leads"
    # Will enable once stable.
    groups:
      storybook:
        patterns:
          - "@storybook/*"
          - "storybook"
          - "storybook-*"
          - "@chromatic-com/*"
          - "chromatic"
      dependencies-minor:
        # Open PR for all minor updates from "dependencies" in package.json
        dependency-type: "production"
        update-types:
          - "minor"
      dependencies-patch:
        # Open PR for all patch updates from "dependencies" in package.json
        dependency-type: "production"
        update-types:
          - "patch"
      devDependencies:
        # Open PR for all updates from "devDependencies" in package.json
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      security:
        # Open PR for all security updates from "dependencies" in package.json
        dependency-type: "production"
        applies-to: security-updates

  # Enable version updates for NuGet
  # - package-ecosystem: "nuget"
  #   directory: "/"
  #   schedule:
  #     interval: "weekly"
  #     day: "thursday"
  #   labels:
  #     - "back-end"
  #     - "dependencies"
  #   rebase-strategy: auto
