# General
public/robots.*
public/sitemap.*
.git/
.cache/
LICENSE
README.md
tmp/
log/

# Integration Tests
playwright*/
jest/
coverage/
test*/

# FE tools
.storybook/
storybook-static/

# Next.JS
.next/
node_modules/
**/npm-debug.log

# DevOps
.github/
Dockerfile
docker-compose.yml
deployments/
.*ignore
Secrets*.json
*KeyVaults*
**.gpg
*.ps1
jenkins/

# Ruby on Rails
public/packs
public/uploads
public/cache
**/.keep
**/.gitkeep

# Games
*Game/node_modules/
*Game/dist/

# VS Code
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/obj
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/.classpath