@use '/src/styles/variables';

.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: variables.$gap-lg;
  place-items: center;
  padding: variables.$gap-lg;
  background-color: variables.$color-white;
  box-shadow: variables.$box-shadow;
}
