@import 'src/styles/utilities.scss';

// TODO-REVIEW: Where should we draw the line here.
$message-max-width: 768px;

.errorMessageWrapper {
  margin: 0 auto;
}

.errorMessage {
  width: $message-max-width;
  padding: 20px;
  background-color: #dfdfdf;
}

.errorMessage__heading {
  font-size: 4rem;
}

.errorMessage__message {
  text-align: center;
}

.errorMessage__image {
  @include responsive-image();
}
